[submodule "external/irdeto-x264/source"]
	path = external/irdeto-x264/source
	url = https://github.com/mirror/x264.git
	branch = stable
[submodule "external/irdeto-x265/sources"]
	path = external/irdeto-x265/sources
	url = https://bitbucket.org/multicoreware/x265_git.git
	branch = Release_3.5
[submodule "external/irdeto-aom/sources"]
	path = external/irdeto-aom/sources
	url = https://aomedia.googlesource.com/aom
	branch = tags/v3.6.0
